backend/__pycache__
backend/venv
backend/.env
backend/.env.txt
backend/logs
data
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
env/
venv/
*.sqlite
*.db
__pycache__/
dist/
build/
*.egg-info/
.git/
.github/
.idea/
.vscode/
*.log
test_data/
